<h2>Edit Event Set</h2>
<%= render :partial => 'event_set_form' %>
<div class="clearAll">
  <a href="/" , class="button buttonMid" , id="processEventButton" data-url="<%= embedded_update_event_set_path(@event_set) %>">Update</a>
  <a href="/" , class="button buttonMid" , id="cancelEventButton">cancel</a>
</div>