<div class="header clearAll">
  <a href="<%= edit_user_registration_path(current_user) %>" class='button buttonMid rightSide action'> Settings </a>
  <a href="<%= weekly_event_sets_path %>" class='button buttonMid rightSide action'> Weekly </a>

</div>