<h2>Edit Event</h2>
<% if @event.event_set_id %>
    <a href="/"
       class="button buttonMid rightSide"
       id="editEventSet"
       data-url="<%= embedded_edit_event_set_path(@event.event_set_id) %>">Edit Event Set</a>
<% end %>
<%= render :partial => 'event_form' %>
<div class="clearAll">
  <a href="/" , class="button buttonMid" , id="processEventButton" data-url="<%= embedded_update_event_path(@event) %>">Update</a>
  <a href="/" , class="button buttonMid" , id="cancelEventButton">cancel</a>
</div>